@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-blue-600 text-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full border-2 border-gray-100;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}